<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Expense</title>
</head>
<body>
<div align="center">
    <h1>Create New Expense</h1>
    <br />
    <form action="#" th:action="@{/save-expense}" th:object="${expense}" method="post">
        <table border="0" cellpadding="10">
            <tr>
                <td>Expense ID:</td>
                <td><input type="number" th:field="*{id}" required/></td>
            </tr>
            <tr>
                <td>Name:</td>
                <td><input type="text" th:field="*{name}" required/></td>
            </tr>
            <tr>
                <td>Type of Expense:</td>
                <td><input type="text" th:field="*{type}" required/></td>
            </tr>
            <tr>
                <td>Date:</td>
                <td><input type="date" th:field="*{date}" required/></td>
            </tr>
            <tr>
                <td>Recur Monthly:</td>
                <td><textarea type="boolean" th:field="*{recurring}" required></textarea></td>
            </tr>
            <tr>
                <td>Amount:</td>
                <td><textarea type="number" th:field="*{amount}" required></textarea></td>
            </tr>
            <tr>
                <td>Account ID of account to be charged:</td>
                <td><textarea type="number" th:field="*{account}" required></textarea></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Save</button> </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>